<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">ND Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/280104250_1091934891401883_6395652773180467055_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=-LZfgCzdBFwAX_HFIsS&_nc_ht=scontent.fhan14-2.fna&oh=00_AT_GxMN7qoSh80MuvWEW6QfhPU05IHpBGV7ttf3k3t6uUA&oe=6293810E" alt="" class="user-avatar">
            Ngô Duy
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
            <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>